
websockets/.ipynb_checkpoints/fastspeech2_inference-checkpoint.ipynb
websockets/__pycache__/assistant.cpython-39.pyc
websockets/__pycache__/secondaryAssistant.cpython-39.pyc
websockets/assistantBak.py
websockets/notes.txt
websockets/output_audio_file
websockets/output_audio_file.wav
*.wav
*.js
websockets/scripts/new 1.html
websockets/playingAudio.txt
websockets/__pycache__/assistant.cpython-311.pyc
websockets/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
websockets/__pycache__/audioProcessing.cpython-311.pyc
*.pyc
websockets/.ipynb_checkpoints/Untitled-checkpoint.ipynb
websockets/llama-2-7b-chat.ggmlv3.q8_0.bin
websockets/llama-2-7b.ggmlv3.q4_0.bin
postmanCurl.txt
websockets/Untitled.ipynb
websockets/Untitled1.ipynb
ovon_auto_return_event.txt
websockets/dialog_event.py
websockets/index.html
websockets/test_server.html
websockets/dialog_event.py
websockets/dialog_event.py
websockets/testAllanServer.html
websockets/testEmmettServer.html
websockets/secondaryAssistantFlaskBak.py
websockets/testAllanServer.html
websockets/allanClientOutput.json
websockets/testAllanServer.html
websockets/.ipynb_checkpoints/llama2-checkpoint.py
assistantClient/assistantClientbak.py
verity/assistantFromPython.py.bak
find_stella2.py
assistantClient/openfloor/from .py
assistantClient.code-workspace
assistantClient/cards.html
assistantClient/cost_2025-05-04_2025-06-03.csv
renameStella.py
stella2/
renameStella.py.bak
assistantClient/testbrowser.py
stella/.devcontainer/devcontainer.json
stella/.vscode/tasks.json
stella/stella/.vscode/tasks.json

# Node.js dependencies
node_modules/

.vercel
assistantClient/assistantClient-Pegasus.py
assistantClient/cards-Pegasus.html
assistantClient/known_agents-Pegasus.py
.vs/VSWorkspaceState.json
assistantClientStella.code-workspace
cards.html
stella/api/index-Pegasus.py
stella/assistant_config-Pegasus.json
stella/openfloor/agent-Pegasus.py
stella/package-lock-Pegasus.json
stella/package-Pegasus.json
stella/server-Pegasus.py
stella/stella_agent-Pegasus-2.py
stella/stella_agent-Pegasus.py
verity/agentic_hallucination-Pegasus.py
stella/vercel-Pegasus.json
verity/assistant-Pegasus.py
verity/assistant_config-Pegasus.json
verity/local-Pegasus.py
verity/pipeline-Pegasus.log
websockets/secondaryAssistantHTTP-Pegasus.py
