
websockets/.ipynb_checkpoints/fastspeech2_inference-checkpoint.ipynb
websockets/__pycache__/assistant.cpython-39.pyc
websockets/__pycache__/secondaryAssistant.cpython-39.pyc
websockets/assistantBak.py
websockets/notes.txt
websockets/output_audio_file
websockets/output_audio_file.wav
*.wav
*.js
websockets/scripts/new 1.html
websockets/playingAudio.txt
websockets/__pycache__/assistant.cpython-311.pyc
websockets/.ipynb_checkpoints/Untitled1-checkpoint.ipynb
websockets/__pycache__/audioProcessing.cpython-311.pyc
*.pyc
websockets/.ipynb_checkpoints/Untitled-checkpoint.ipynb
websockets/llama-2-7b-chat.ggmlv3.q8_0.bin
websockets/llama-2-7b.ggmlv3.q4_0.bin
postmanCurl.txt
websockets/Untitled.ipynb
websockets/Untitled1.ipynb
ovon_auto_return_event.txt
websockets/dialog_event.py
websockets/index.html
websockets/test_server.html
websockets/dialog_event.py
websockets/dialog_event.py
websockets/testAllanServer.html
websockets/testEmmettServer.html
websockets/secondaryAssistantFlaskBak.py
websockets/testAllanServer.html
websockets/allanClientOutput.json
websockets/testAllanServer.html
